.heading-class {
    color: blue;
    
    text-align: center;
    background-color: yellow;
    
}

   
h3{
    color: brown;
    text-align: end;
    background-color: yellowgreen;
}
.but{
    background-color:red;
    color: black;
}
